.div-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(177, 43, 255, 0.663);
    border-radius: 40% / 80%;
    width: 375px;
    height: 210px;
}

.onda {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(211, 211, 211, 0.8);
    border-radius: 40% / 80%;
    width: 345px;
    height: 180px;
}

.tarea {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 160px;
    background-color: rgb(35, 0, 65);
    border-radius: 40% / 80%;
}

.tarea p {
    text-align: center;
    margin: 0;
    line-height: 155px;
}